@charset "UTF-8";
/* CSS Document */

.trail-info{
	margin-top: 20px;
}

table.trailstatustable{
	border-collapse: collapse;
    	border: 1px solid #000;
	max-width: 300px;
}

table.trailstatustable caption{
	background: #2b2b2b;
	color: #fff;
	font-size: x-large;
	font-variant: small-caps;
	/*font-weight:900;*/
	padding: 5px;
}

table.trailstatustable tbody{
	display: table-row-group;
    	vertical-align: middle;	
}

table.trailstatustable td{
	border: none;
}

table.trailstatustable tr{
	display: block;
    border-bottom: 1px solid #000;
}

table.trailstatustable tr.oddrow{
    display: block;
    border-bottom: 1px solid #F00;
}

td.trailname{
	padding-left: 5px;
	width:80%;
}

.skill-green-unused{
	background: url(../img/trail-green.png)	no-repeat left center;
}


img.snowmaking-img{
	padding-left:3px;
}

img.groomed-img{
	padding-left:3px;
}

td.trailstatus{
	padding: 3px;
	width: 10%;
	text-align:right;
}

td.skilllevel{
	padding: 3px;
	width: 10%;
	text-align:center;
}

ul.trailinfokey li{
	list-style:none;
}

.last_update{
	font-size:smaller;
}
